# compiled output
first_nest_api/dist
first_nest_api/node_modules/

# Logs
first_nest_api/logs
first_nest_api/*.log
first_nest_api/npm-debug.log*
first_nest_api/pnpm-debug.log*
first_nest_api/yarn-debug.log*
first_nest_api/yarn-error.log*
first_nest_api/lerna-debug.log*

# OS
first_nest_api/DS_Store

# Tests
first_nest_api/coverage
first_nest_api/.nyc_output

# IDEs and editors
first_nest_api/.idea
first_nest_api/.project
first_nest_api/.classpath
first_nest_api/.c9/
first_nest_api/*.launch
first_nest_api/.settings/
first_nest_api/*.sublime-workspace

# IDE - VSCode
first_nest_api/.vscode/*
first_nest_api/!.vscode/settings.json
first_nest_api/!.vscode/tasks.json
first_nest_api/!.vscode/launch.json
first_nest_api/!.vscode/extensions.json